.main-header {
  width: 100%;
  height: 56px;
  background-color: dodgerblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  color: white;
}

.main-header h1 {
  font-size: 22px;
}

.fas {
  font-size: 18px;
}

a {
  color: inherit;
}
